name: Integration Test
on: [push]
jobs:
  integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Self test
        id: selftest
        uses: ./
        with:
          modfile: go.mod
      - name: Check outputs
        run: |
          test "${{ steps.selftest.outputs.go_version }}" == "1.20"
          test "${{ steps.selftest.outputs.go_module }}" == "github.com/pawndev/go-modfile-information"
